In [31]:
import pandas as pd

In [32]:
pd.__version__

'2.2.3'

In [ ]:
import pandas as pd

# Read the CSV File

df = pd.read_csv(
    "/Users/gabrielfuentes/ZoomCampRepo/LearningDockerAndTerraform/data/yellow_tripdata_2021-01.csv",
    nrows=100,
)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

In [ ]:
# Convert datetime fields into datetime as pandas does not know to convert
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
# Since using Conda Custom Env we need to import the conda env into the ENV
from sqlalchemy import create_engine

In [57]:
# Create Connection to Docker Container Running DB
engine = create_engine("postgresql://root:$$$$@localhost:5435/ny_taxi")

In [58]:
# Connect to Engine
engine.connect

In [ ]:
# See how you can Create a Table command using connection to CSV File
# this allows us to print command for specifc SQL server we are in.
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [61]:
# Converted into Chunks as it is not good practice to insert full 1M records at once
df_iter = pd.read_csv(
    "/Users/gabrielfuentes/ZoomCampRepo/LearningDockerAndTerraform/data/yellow_tripdata_2021-01.csv",
    iterator=True,
    chunksize=100000,
)

In [62]:
df = next(df_iter)

In [63]:
# Validate that iter command work
len(df)

100000

In [ ]:
# will only create columns In our Database
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

# run in terminal to verify creation of DB
# Reminder to Connect to DB from Terminal run Command docker exec -it bold_chebyshev psql -U root -d ny_taxi
# Commands such as /d yellow_taxi_data

0

In [67]:
# Now we can go ahead and insert the data using prior commands, Remeber to set if_exist to append in order to add records.
# time at the start tells us how long it takes to run
%time df.to_sql(name = "yellow_taxi_data", con=engine, if_exists='append')

CPU times: user 2.49 s, sys: 88.5 ms, total: 2.58 s
Wall time: 4.21 s

1000

In [ ]:
# Validation Complete now need to create while loop in order to insert chuncks
# to validate how long it take run time command
from time import time

while True:
    t_start = time()
    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

    t_end = time()

    print("inserted another cunk..., took %.3f second" % (t_end - t_start))

inserted another cunk..., took 4.468 second
inserted another cunk..., took 4.512 second
inserted another cunk..., took 4.502 second
inserted another cunk..., took 4.514 second
inserted another cunk..., took 4.613 second
inserted another cunk..., took 4.694 second
inserted another cunk..., took 4.678 second
inserted another cunk..., took 4.540 second
inserted another cunk..., took 4.518 second
inserted another cunk..., took 4.688 second
inserted another cunk..., took 4.545 second

/var/folders/7y/qbbxwvy123gf0q88fyxgbqsh0000gn/T/ipykernel_1194/2496930709.py:7: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another cunk..., took 4.481 second

Inserted Data in Table to have Zone Look up

In [3]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")
engine.connect()

!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

df_zones = pd.read_csv("taxi_zone_lookup.csv")
df_zones.to_sql(name="zones", con=engine, if_exists="replace")

--2025-01-25 17:17:49--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250125%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250125T221749Z&X-Amz-Expires=300&X-Amz-Signature=ecb1037637889cb603134adb391095a7fc4ce55fde893f3576d2c179dac840e9&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2025-01-25 17:17:49--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250125%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250125T221749Z&X-Amz-Expires=300&X-Amz-Signature=ecb1037637889cb603134adb391095a7fc4ce55fde893f3576d2c179dac840e9&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: â€˜taxi_zone_lookup.csvâ€™

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0.003s

2025-01-25 17:17:49 (3.43 MB/s) - â€˜taxi_zone_lookup.csvâ€™ saved [12322/12322]

265